div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit(style='background:#6666CC')
  .container
    img(src='assets/images/logo.png', alt='Live classroom logo')
    p.lead Join an existing classroom

.container
  .row
    .col-md-12
    h1.page-header
      p
        a.btn.btn-primary.btn-lg(href='/newclassroom', role='button', style='background:#6666CC') Create New Classroom
      br    
      p.lead Join Existing Classroom:
     
  div
    input(type='text', ng-model='search', placeholder=' Search')
    br
    br
    table.table.table-hover
      tr
        th Name
        th Creator
        th PDF Name
      tr(ng-repeat='classroom in allClassrooms | filter: {isActive: true} | filter: search')
        td  
          a(href='/pdfStudent?id={{classroom._id}}', ng-click='enterClassroom(classroom)') {{classroom.name}}
        td {{classroom.creator}}
        td {{classroom.pdf}}
        
