div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Live Classroom Presentations
    p.lead Create or Join an existing classroom. 

.container
  .row
    .col-md-12
    h1.page-header
      p
        a.btn.btn-primary.btn-lg(href='/pdf', role='button') Create New Classroom
      br    
      p.lead Join Existing Classroom:
     
  div#chatContainer.chat
    table.table.table-hover
      tr
        th Name
        th Creator
        th PDF Name
      tr(ng-repeat='classroom in allClassrooms')
        td  
          a(href='/newclassroom') {{classroom.name}}
        td  {{classroom.creator}}
        td  {{classroom.pdf}}
        
