div(ng-include='"components/navbar/navbar.html"')

.container
    h1.page-header Chat:
    div#chatDiv(style='height: 500px; overflow: auto')
      ul(ng-repeat='message in allMessages')
          | {{message.user}} ({{message.date | date:'HH:mm:ss' }}) :
          | {{message.content}}

    form.message-form
      p.input-group
        input.form-control(type='text', placeholder='Enter your message here.', ng-model='newMessage')
        span.input-group-btn
          button.btn.btn-primary(type='submit', ng-click='addMessage()') Send
