div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Live New Classroom
    p.lead Create A New Classroom 

.container
  .row
    br
    //div.alert.alert-danger(role='alert')(ng-hide='isLoggedIn()')
    //  p.lead You are not logged in !
    //  p Log in 
    //    a(href='/login') here.

    .col-md-4
    div.col-md-4.input-group.input-group
      span.input-group-addon Classroom Name: 
      input.form-control(type='text', placeholder='Name', ng-model='classroomName')
    
    br
    
    .col-md-4
    .panel.col-md-4.panel-default
      .panel-heading PDF Lesson
        .panel-body.col-md-4
            br
            input.input-file(ng-model='slidesPath', type='file')
    br
    
    .col-md-4
    div.col-md-4
      a.btn.btn-primary.btn-lg(href='/pdf', role='button') Create Classroom