div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit(style='background:#6666CC')
  .container
    img(src='assets/images/logo.png', alt='Live classroom logo')
    p.lead Create A New Classroom 

.container
  .row
    br
    div.alert.alert-danger(role='alert')(ng-hide='isLoggedIn()')
      p.lead You are not logged in !
      p Log in 
        a(href='/login?from=newclassroom') here.

    .col-md-4
    div.col-md-4.panel.panel-default(ng-show='isLoggedIn()')
      .panel-body
        | Step 1: Choose a classroom name
    br
    br
    br
    br
    .col-md-4
    div.col-md-4.input-group.input-group(ng-show='isLoggedIn()')
      span.input-group-addon Classroom Name: 
      input.form-control(type='text', placeholder='Name', ng-model='classroomName')
      
    br
    br
    .col-md-4
    div.col-md-4.panel.panel-default(ng-show='isLoggedIn() && isNameFilled()')
      .panel-body
        | Step 2: Choose a PDF file
    br
    br
    br
    br
    accordion(close-others='true', ng-show='isLoggedIn() && isNameFilled()')
      accordion-group
        accordion-heading
          | PDF File by URL 
          i.pull-down.glyphicon(ng-class="{'glyphicon-chevron-down': true}")
        br
        .col-md-4
        div.col-md-4.input-group.input-group
          span.input-group-addon PDF Url: 
          input.form-control(type='text', placeholder='http://www.example.com/slides.pdf', ng-model='classroomPDF')

        br
        .col-md-4
        div.col-md-4
          a.btn.btn-primary.btn-lg(href='/pdf', role='button', ng-click='addClassroomFromURL()', style='background:#6666CC') Create Classroom
      accordion-group
        accordion-heading
          | Upload PDF to your AWS Bucket   
          i.pull-down.glyphicon(ng-class="{'glyphicon-chevron-down': true}")
        // AWS Details
        .col-md-4
          .panel.panel-default
            .panel-heading
              h3.panel-title Step 1: Input Your AWS Details
            .panel-body
              .input-group.bottom-marg-10
                span.input-group-addon ACCESS KEY
                input.form-control(ng-model='creds.access_key', type='text', placeholder='2992SD29299')
              br
              .input-group.bottom-marg-10
                span.input-group-addon SECRET KEY
                input.form-control(ng-model='creds.secret_key', type='text', placeholder='AKS72628SE28')
              br
              .input-group
                span.input-group-addon BUCKET
                input.form-control(ng-model='creds.bucket', type='text', placeholder='my_upload_bucket')
        // The Upload Form
        .col-md-8
          .panel.panel-default
            .panel-heading
              h3.panel-title Step 2: Upload The File (Max. 10MB) 
            .panel-body
              input(type='file', name='file', accept='application/pdf', onchange="angular.element(this).scope().onFileSelect(this)")
              // Progress Bar
              br
              .progress
                .progress-bar(role='progressbar', aria-valuenow='{{ uploadProgress }}', aria-valuemin='0', aria-valuemax='100', style='width: {{ uploadProgress }}%;')
                  | {{ uploadProgress == 0 ? '' : uploadProgress + '%' }}
              br      
              a.btn.btn-primary.btn-block.btn-lg(ng-click='upload()', style='background:#6666CC') Upload
              
        .col-md-4
        div.col-md-4
          br
          br
          a.btn.btn-primary.btn-lg(role='button', ng-click='addClassroomFromBucket()', style='background:#6666CC') Create Classroom  
      accordion-group
        accordion-heading
          | Choose from available PDF   
          i.pull-down.glyphicon(ng-class="{'glyphicon-chevron-down': true}")
         table.table.table-hover
            tr
              th PDF Name
              th Path
            tr(ng-click="select(file)", ng-repeat='file in allFiles', ng-class="{active:file == selected}")
              td  {{file.title}}
              td  {{file.path}}
   
        .col-md-4
        div.col-md-4
          br
          br
          a.btn.btn-primary.btn-lg(role='button', ng-click='addClassroomFromAsset()', style='background:#6666CC') Create Classroom 

