.container-fluid
  div.row
    div.well.col-md-9
      center
          a.btn.btn-default.btn-sm#prev Previous
          &nbsp;
          a.btn.btn-default.btn-sm#next Next
          &nbsp;
          span
            | Page:&nbsp;
            span#page_num
            | &nbsp;/&nbsp;
            span#page_count
      br
      center
        canvas#slides
      br
      center
        span.label.label-danger Trop rapide
        &nbsp;
        span.label.label-success Bon rythme
        &nbsp;
        span.label.label-warning Trop lent
        br
        span#tooQuick 0
        | &emsp;&emsp;&emsp;&emsp;&emsp;
        span#perfect 0
        | &emsp;&emsp;&emsp;&emsp;&emsp;
        span#tooSlow 0
    div.row-fluid.col-md-3(ng-controller='ChatTestCtrl')(ng-include='"app/chat-test/chat-test.html"')