div(ng-include='"components/navbar/navbar.html"')

.container
  div.row
    div.col-md-8
      a.btn.btn-default.btn-sm#prev Previous
      &nbsp;
      a.btn.btn-default.btn-sm#next Next
      &nbsp;
      span
        | Page:&nbsp;
        span#page_num
        | &nbsp;/&nbsp;
        span#page_count
      br
      canvas#slides
      br
      center
        br
        span.label.label-danger Trop rapide
        &nbsp;
        span.label.label-success Bon rythme
        &nbsp;
        span.label.label-warning Trop lent
        br
        span#tooQuick 0
        | &emsp;&emsp;&emsp;&emsp;&emsp;
        span#perfect 0
        | &emsp;&emsp;&emsp;&emsp;&emsp;
        span#tooSlow 0
    div(ng-controller='ChatTestCtrl')(ng-include='"app/chat-test/chat-test.html"')