.container-fluid
  div.row
    div.well.col-md-9
      div.col-md-2
        center
          a#activationButton.btn.btn-primary.btn-danger(role='button', ng-click='deactivateClassroom()') Deactivate Classroom
      div.col-md-8
        center
          a.btn.btn-default.btn-sm#prev Previous
          &nbsp;
          a.btn.btn-default.btn-sm#next Next
          &nbsp;
          span
            | Page:&nbsp;
            span#page_num
            | &nbsp;/&nbsp;
            span#page_count
          &nbsp;
          a.btn.btn-default.btn-sm#fullscreen Full Screen             
      div.col-md-2
        center
          a.btn.btn-primary.btn-default(href='/', role='button', style='background:#6666CC') Leave Classroom
      br
      center
        canvas#slides
      br
      center
        span.label.label-danger Too fast
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        span.label.label-success Good
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        span.label.label-warning Too slow
        br
        span#tooQuick 0
        | &emsp;&emsp;&emsp;&emsp;&emsp;
        span#perfect 0
        | &emsp;&emsp;&emsp;&emsp;&emsp;
        span#tooSlow 0
    div.row-fluid.col-md-3(ng-controller='ChatCtrl')(ng-include='"app/chat/chat.html"')