div(ng-include='"components/navbar/navbar.html"')
.container
  div.row
    div.col-md-8
      a.btn.btn-default.btn-sm#prev(ng-hide='sync') < Previous
      &nbsp;
      a.btn.btn-default.btn-sm#next(ng-hide='sync') Next >
      &nbsp;
      span
        | Page:&nbsp;
        span#page_num
        | &nbsp;/&nbsp;
        span#page_count
        &nbsp;
        input(type='checkbox', ng-model='sync', ng-change='syncUnsync()')
        | Sync   
      br
      canvas#slides
      br
      center
        a.btn.btn-danger.btn-sm(ng-click='addFeedback(1);') Trop rapide
        a.btn.btn-success.btn-sm(ng-click='addFeedback(2);') Bon rythme
        a.btn.btn-warning.btn-sm(ng-click='addFeedback(3);') Trop lent
        br
        span#tooQuick 0
        | &emsp;&emsp;&emsp;&emsp;&emsp;
        span#perfect 0
        | &emsp;&emsp;&emsp;&emsp;&emsp;
        span#tooSlow 0
    div(ng-controller='ChatTestCtrl')(ng-include='"app/chat-test/chat-test.html"')