div(ng-include='"components/navbar/navbar.html"')
div#test
.container
  div.row
    div.col-md-8
      button#prev(hidden='hidden') Previous
      button#next(hidden='hidden') Next
      span
        | Page:
        span#page_num
        | /
        span#page_count
      br
      canvas#slides
    div(ng-controller='ChatTestCtrl')(ng-include='"app/chat-test/chat-test.html"')