.container-fluid
  div.row
    div.well.col-md-9
      center
          a.btn.btn-default.btn-sm#prev(ng-hide='sync') < Previous
          &nbsp;
          a.btn.btn-default.btn-sm#next(ng-hide='sync') Next >
          &nbsp;
          span
            | Page:&nbsp;
            span#page_num
            | &nbsp;/&nbsp;
            span#page_count
            &nbsp;
            input(type='checkbox', ng-model='sync', ng-change='syncUnsync()')
            | Sync   
      br
      center
        canvas#slides
      br
      center
        a.btn.btn-danger.btn-sm(ng-click='addFeedback(1);') Too fast
        &emsp;
        a.btn.btn-success.btn-sm(ng-click='addFeedback(2);') Good
        &emsp;
        a.btn.btn-warning.btn-sm(ng-click='addFeedback(3);') Too slow
        br
        span#tooQuick 0
        | &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        span#perfect 0
        | &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        span#tooSlow 0
    div.row-fluid.col-md-3(ng-controller='ChatCtrl')(ng-include='"app/chat/chat.html"')